<app-header titulo="Input"></app-header>
<ion-content class="ion-padding">

  <ion-list>
   
    <ion-list>
      <ion-item>
        <ion-input label="ingrese nombre" placeholder="Enter text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="Numero" labelPlacement="fixed" placeholder="Enter text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="correo" labelPlacement="stacked" placeholder="Enter text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input label="direccion" labelPlacement="floating" placeholder="Enter text"></ion-input>
      </ion-item>
    </ion-list>

  </ion-list>

  